<div class="min-h-screen bg-base-100">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between p-8 gap-8">
    <!-- 左側のロゴコンテナ -->
    <div class="w-full md:w-1/2">
      <%= image_tag "RR_top.png", class: "w-full h-auto" %>
    </div>

    <!-- 右側のテキスト・ボタンコンテナ -->
    <div class="w-full md:w-1/2 text-center md:text-left space-y-6">
      <h4 class="text-xl">あるあるを寄せ合うSNS</h4>
      <h1 class="text-5xl font-bold">R R</h1>
      <h3 class="text-2xl font-bold">Reality Reflections</h3>
      
      <%= link_to 'posts/', data: { turbo: false } do %>
        <button class="btn btn-neutral mt-4">あるある言いたい</button>
      <% end %>
    </div>
  </div>
</div>