<header>
  <div class="navbar bg-neutral">
    <div class="container mx-auto">
      <div class="flex-1">
        <%= link_to root_path, class: 'flex items-center gap-4' do %>
          <%= image_tag 'logo.png', class: 'w-12 h-12' %>
          <span class="text-lg text-base-100">Reality Reflections ~あるあるを寄せ合うSNS~</span>
        <% end %>
      </div>
    </div>
  </div>
</header>